dont push any code now 
1. in chat screen when new messag is appear update  via skeleton effect not loading efffect 
2. now start implement notifications  
3. from the notification we can give smart reply
4.in notificatoion  for gorups and  persons all should sendable  
5. in notifiaction we should able to see the images as well
6. in chat i need to send files and images and capture photo . 
7. in profile setting i need eithter upload image or capture and upload image option should implement
8. voice call full implemnetatoin two party sides  all options should be workable 
9. video call full implemnetatoin two party sides  all options should be workable 
10 .other notification managemen of the app should be implmented  type of color notification like that 
11. vibration feedback should implemented also 
12.default  ringtone and customized ringtone when notifiction or calls comes to picture
13. implement voice chat also  and make it be workable
14.location sharing  continuso sharing for hours should also to be workable   


now give all requirments of crm please 
for manage users messages  users management
   


now implement location sharing  timely based and always share both options for this use openstreetmap location using maplibre with using  and show my and location shared person locaton 
ineed full map detaisl about distance journey update when moving and  route directions  and speedometer implemantion  3d and 2d views with maplibre and openstreetmap  and router
need dark and light mode and traffice mode options  while checking the maps  

next feature is work on voice record and share optin pause stop send  and then vidoe recording and share feature while clicked on the  camera need both options . then i need filters camera filtter colors modes zoom optiona all camera features hd image normal image 
 then file viewr option in the wthatspp like voice listerner which voice send thoruht  then document viewwr pdf viewr execl viewer and other docs views txt file viewr apk installer  image vieable doc viewale based on the file  viesro and movie viewrabl

and next thing is  while vidoe or audio calling we need filete we need easy switch between audio and vieso  and vidoe effect filder should add while video is workin 